mat-card {
    max-width: 40%;
    margin: 2em auto;
    text-align: center;
}

.color-moon {
    background-color: #917c75;
    border-radius: 8px;
}

.full-width {
    width: 100%;
    margin: 1em auto;
}

.min-width {
    width: 100%;
    min-width: 300px;

}

::ng-deep .success{
     width: 40rem;
     background:#0be728;
     color: black
    ;
 }